
.header-container{
    display: flex;
    align-items: center;
    width: 98vw;
    background-color: aquamarine;
    height: 60px;
    .name{
        flex: 2;
        padding-left: 20px;
        font-size: 1.7em;
        font-weight: bold;
    }
    .title{
        padding-left: 10%;
        display: flex;
        flex: 4;
        text-align: center;
        justify-content: space-around;
    }
    .btn{
        justify-content: center;
        position: relative;
        flex: 1;
        display: flex;
        .cartBtn{
            cursor: pointer;
            position: relative;
            .popupUser{
                display: none;
                text-align: center;
                top: 15px;
                left: -60px;
                z-index: 10;
                position: absolute;
                width: 125px;
                background-color: antiquewhite;
                .title{
                    color: orange;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
            }
        }
        .cartBtn:hover .popupUser{
            display: block;
        }

    }
    .notification{
        position: absolute;
        right: 71%;
        top: -3px;
        cursor: pointer;
    }
    .notification-large{
        background-color: azure;
        width: 22vw;
        height: 50vh;
        position: fixed;
        right: 1.5%;
        top: 9%;
        .nf-container{
            overflow-y: auto;
            position: relative;
            .nf-close{
                position: absolute;
                font-size: 30px;
                font-weight: 600;
                right: 5px;
                cursor: pointer;
            }            
            .nf-item{
                font-size: 18px;
                border-bottom: 1px solid brown ;
                padding: 5px 15px;
                cursor: pointer;
            }
        }
    }
}
.hello{
    display: flex;
    align-items: center;
    .hello-name{
        margin-right: 15px;
    }
    .hello-img{
        img{
            width: auto;
            height: 50px;
        }
    }
}